<!-- Component Internal CSS -->
<style>
  /* ... */
</style>

<!-- Component Structure -->
<div>
  <!-- ... -->
  <!-- <h1>Hello World</h1> -->

  <!-- Header -->
  <!-- <app-header></app-header> -->

  <!-- Body -->
  <!-- <app-body></app-body> -->

  <!-- Demo -->
  <app-demo></app-demo>

  <!-- lazy loading component... -->
  <!-- <h1>Lazy Loading Component</h1>
  <button (click)="loadAdmin()">Load Admin List</button>
  <button (click)="loadUser()">Load User List</button> -->

  <!-- Footer -->
  <app-footer></app-footer>
</div>

<!-- ...................... -->
<router-outlet></router-outlet>
